body {
        background: linear-gradient(135deg, #0f172a, #1e293b);
        color: #f8fafc;
        padding: 30px;
      }

      header {
        text-align: center;
        margin-bottom: 30px;
        color: white !important;

      }

      .card3 {
        background: linear-gradient(135deg, #1e293b, #545558);
         color: white !important;
        width: 20rem;
      }